name: "infra"

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Action à réaliser"
        required: true
        default: "apply"
        type: choice
        options:
          - plan
          - apply
          - destroy

permissions:
  contents: read # Checkout du code

env:
  TF_VERSION: "1.13.0"
  AWS_REGION: "eu-west-3"
  TERRAFORM_DIR: "./terraform"

jobs:
  infra:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: ${{ env.TERRAFORM_DIR }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
